<!DOCTYPE html>
<html>
<% include ../partials/nav.ejs %>
<head>
  <title>
    <%= tokimon.name %>
  </title>
</head>

<body>

<div class="container">
  <h2>Display</h2>

  <ul>
    <% tokimon.forEach(function(t) { %>
      <div class=picture>
        <p><%= t.name %></p>
        <img src="rabbit.png" alt="<%= t.name %>" width="<%= t.weight*8 %>" height="<%= t.height %>" >
      </div>
    <% }); %>
  </ul>

</div>

</body>
</html>
