<!DOCTYPE html>
<html>
<% include ../partials/nav.ejs %>
<head>
  <title>
    <%= tokimon.name %>
  </title>
</head>

<body>

<div class="container">
<h2><%= tokimon.name %></h2>

<div>
  Tokimon Name: <%= tokimon.name %>
</div>
<div>
  Weight: <%= tokimon.weight %>
  Height: <%= tokimon.height %>
</div>
<div>
  Fly: <%= tokimon.fly %>
  Fight: <%= tokimon.fight %>
  Fire: <%= tokimon.fire %>
  Water: <%= tokimon.water %>
  Electric: <%= tokimon.electric %>
  Ice: <%= tokimon.ice %>
  Total: <%= tokimon.total %>
</div>
<div>
  Trainer: <%= tokimon.trainer %>
</div>

<form name="delete" action="/delete/<%= tokimon.id %>" method="post">
  <input type="submit" value="Delete">
</form>

</div>

</body>
</html>
