<!DOCTYPE html>
<html>
<% include ../partials/nav.ejs %>
<head>
  <title>
    <%= tokimon.name %>
  </title>
</head>

<body>

<div class="container">
  <h2><%= tokimon.name %></h2>

  <div>
    <b>Tokimon Name:</b> <%= tokimon.name %>
  </div>
  <div>
    <b>Weight:</b> <%= tokimon.weight %>
    <b>Height:</b> <%= tokimon.height %>
  </div>
  <div>
    <b>Fly:</b> <%= tokimon.fly %>
    <b>Fight:</b> <%= tokimon.fight %>
    <b>Fire:</b> <%= tokimon.fire %>
    <b>Water:</b> <%= tokimon.water %>
    <b>Electric:</b> <%= tokimon.electric %>
    <b>Ice:</b> <%= tokimon.ice %>
    <b>Total:</b> <%= tokimon.total %>
  </div>
  <div>
    <b>Trainer:</b> <%= tokimon.trainer %>
  </div>

  <input type="button" name="change" onclick="location.href='/change/<%= tokimon.id %>';" value="Change" />

  <form name="delete" action="/delete/<%= tokimon.id %>" method="post">
    <input type="submit" value="Delete">
  </form>

</div>

<div class="picture">
  <img src="../rabbit.png" alt="<%= tokimon.name %>" width="<%= tokimon.weight*8 %>" height="<%= tokimon.height %>" >
</div>

</body>
</html>
